.resource-row {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 150ms ease, opacity 150ms ease;
    margin: 3px;
}

.resource-row.is-filtered {
    opacity: 0.3;
}

.resource-row.is-active {
    opacity: 1;
    color: #fff;
    background-color: rgb(225 113 0 / 100%);
}

.resource-badge {
    position: relative;
    width: 36px;
    height: 36px;
    padding: 3px;
    border-radius: 0.5rem;
    background: rgb(31 41 55);
    opacity: 0.9;
}

.resource-badge img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.resource-tl {
    position: absolute;
    top: -4px;
    left: -4px;
    background: rgb(69 83 114);
    color: white;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    padding: 3px 5px;
    border-radius: 9999px;
}

.resource-tr {
    position: absolute;
    top: -4px;
    right: -4px;
    background: rgb(69 83 114);
    color: white;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    padding: 3px 5px;
    border-radius: 9999px;
}

.resource-bl {
    position: absolute;
    bottom: -4px;
    left: -4px;
    background: rgb(69 83 114);
    color: white;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    padding: 3px 5px;
    border-radius: 9999px;
}

.resource-br {
    position: absolute;
    bottom: -4px;
    right: -4px;
    background: rgb(69 83 114);
    color: white;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    padding: 3px 5px;
    border-radius: 9999px;
}